body{
    margin: 0px;
    padding: 0px;
    background: #f1f1f1;
    font-family: Arial;
    box-sizing: border-box;
}
.card-container{
    width: 300px;
    height: 430px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    display: inline-block;
}
.upper-container{
    height: 150px;
    background: #7F00FF;
    background-image: url("Team_ETF_logo.PNG");
    background-size: 300px 150px;
}
.image-container{
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(100px,100px);
}
.image-container img{
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.lower-container{
    height: 280px;
    background: coral;
    text-align: center;
    padding-top: 40px;
}
.lower-container h3, h4{
    box-sizing: border-box;
    line-height: .6;
    font-weight: lighter;
}
.lower-container h4{
    color: #7F00FF;
    opacity: .6;
    font-weight: bold;
}